<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categories</title>
  </head>
  <body>
    <h1>Display Categories</h1>
    <ul>
      <%categories.map(item => { %>
      <li><%=item.name%></li>
      <%}) %>
    </ul>
    <form action="/categories/create" method="post">
      <label for="newCategory">Add category: </label>
      <input type="text" name="newCategory" id="newCategory" />
      <button type="submit"></button>
    </form>
    <form action="/categories/delete" method="post">
      <label for="delCategory">Delete category: </label>
      <input type="text" name="delCategory" id="delCategory" />
      <button type="submit"></button>
    </form>
  </body>
</html>
